<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDos</title> 
    </head>

<body>
    <h1>ToDos</h1>
    <ol>
    {% for todo in todos %}
        <li>{{ todo }}</li>
    {% endfor %}
    </ol>
    <form method="POST">
        {{ template_form.hidden_tag() }}
        <p>
            {{ template_form.todo.label }}: 
            {{ template_form.todo() }}
            {{ template_form.add() }}
        </p>
    </form>
    <form method="POST">
        {{ template_form2.hidden_tag() }}
        <p>
            {{ template_form2.removalnum.label }}: 
            {{ template_form2.removalnum() }}
            {{ template_form2.remove() }}
        </p>
    </form>
</body>
</html>