<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDos</title> 
    </head>

<body>
    <h1>ToDos</h1>
    <ol>
    {% for todo in todos %}
        <li>{{ todo }}</li>
    {% endfor %}
    </ol>
    <form action="" method="POST">
        {{ template_form.hidden_tag() }}
        <p>
            
            {{ template_form.todo.label }}
            {{ template_form.todo() }}
        </p>
        <p>{{ template_form.add() }}</p>
    </form>
    <form action="" method="POST">
        <p>
            {{ template_form.removalnum.label }}
            {{ template_form.removalnum() }}
        </p>
        <p>{{ template_form.remove() }}</p>
    </form>

</body>
</html>