body {
    background-color: blanchedalmond;
    color: darkslateblue;
    margin: 0;
}

.dark-body {
    background-color: darkslategray;
    color: whitesmoke
}

.navbar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #001845;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navbar a {
    display: block;
    color: #7D8597;
    padding: 16px;
    text-decoration: none;
}

.navbar a.active {
    background-color: aqua;
    color: white;
}

.navbar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 700px) {
    .navbar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .navbar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .navbar a {
      text-align: center;
      float: none;
    }
}

.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

